aiofiles
aiohttp
altair
annotated-types
anyio
attrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
distro
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gradio
gradio-client
gradio-pdf
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib-resources
jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langsmith
loguru
markdown-it-py
markupsafe
marshmallow
matplotlib
mdurl
multidict
mypy-extensions
numpy
openai
orjson
packaging
pandas
pillow
portalocker
protobuf
pydantic
pydantic-core
pydub
pygments
pyparsing
pypdf
python-dateutil
python-multipart
pytz
pyyaml
